.container{
    border: 1px solid black;
    display: flex;
    gap: 2rem;
    background-color:oklch(48.326% 0.07816 266.421 / 0.249);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90vw;
    margin: auto;
    border-radius: 1rem;
    

}
.bottomContainer{
    width: 90vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maincontainer{
    width: 98vw;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
@media (max-width:690px){
    
   
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .bottomContainer{
        flex-direction: column;
    }
}