.card{
    background-color:rgba(0, 0, 0, 0.501);
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 2rem;
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
}
.btns{
    /* background-color: red; */
    display: flex;
    gap: 1rem;

}
.info{
/* background-color: green; */
}
.info p{
   font-size: 0.9rem;
}
.btns p{
    font-size: 0.9rem;
}
.btns button{
   
    width: 7rem;
    border-radius: 2rem;
    border: none;
}
.btns button:hover{
    cursor: pointer;
    background-color: greenyellow;
}